<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Recipe</title>
</head>
<body>
    <h1>Add new Recipe</h1>

    <form action="/recipes" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">


        <label for="name">Instructions:</label>
        <textarea name="instructions" id="instructions" min="0"></textarea>


        <button type="submit">Submit</button>

    </form>
</body>
</html>